{
  "env": {
    "mocha": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "new-cap": [
      "error",
      {
        "properties": false
      }
    ]
  }
}
